$primary-color: #3282F7;
$secondary-color: #68D9A4;
$tertiary-color: #ED6454;

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 400;
    max-width: 1440px;
}

header {
    display: flex;
    justify-content: center;
    img {
        width: 268px;
        margin-bottom: 17px;
        margin-top: 42px;
    }
}

input {
    border: none;
}

input:focus {
    outline: none;
}

// parincile search bar div
.search-principal {
    display: flex;
    align-items: center;
    background: #E7E7E7;
    .search-bar {
        width: 100%;
        height: 69px;
        border-radius: 5px;
        background: #E7E7E7;
        font-size: 18px;
        line-height: 22px;
        padding-left: 24px;
    }
    .search-icon {
        font-size: 32px;
        margin-right: 20px;
    }
    .error {
        color: red;
    }
}

// advanced search div
.search-tags {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20px;
    input {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 700;
        width: 100%;
        margin-left: 20px;
        padding: 0;
    }
    i {
        padding-right: 15px;
    }
    input::placeholder {
        color: #FFFFFF;
    }
    .div--ingredients, .div--appareils, .div--ustensils {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 170px;
        height: 69px;
        margin-right: 20px;
    }
    .div--ingredients,.input-ingredients {
        background: $primary-color;
        border-radius: 5px;
    }
    .div--appareils, .input-appareils {
        background: $secondary-color;
        border-radius: 5px;
    }
    .div--ustensils, .input-ustensils {
        background: $tertiary-color;
        border-radius: 5px;
    }
    .fa-chevron-up {
        display: none;
    }
    .chevron {
        color: #FFFFFF;
    }
}

// search result tags modal background
.bground {
    display: none;
    font-size: 18px;
    color: #FFFFFF;
    .ingredients-bg {
        background: $primary-color;
        z-index: 5;
        position: absolute;
        margin-top: -7px;
        width: 667px;
        height: fit-content;
        border-radius: 5px;
    }
    .appareils-bg {
        background: $secondary-color;
        z-index: 5;
        position: absolute;
        margin-top: -7px;
        left: 290px;
        width: 667px;
        height: fit-content;
        border-radius: 5px;
    }
    .ustensils-bg {
        background: $tertiary-color;
        z-index: 5;
        position: absolute;
        margin-top: -7px;
        left: 480px;
        width: 667px;
        height: fit-content;
        border-radius: 5px;
    }
}

// search result tags modal
.modal-ingredients, .modal-appareils, .modal-ustensils {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 100px;
    padding: 20px;
    width: 667px;
}

.modal-ingredients {
    .ingredients {
        cursor: pointer;
    }
}

.modal-appareils {
    .appareils {
        cursor: pointer;
    }
}

.modal-ustensils {
    .ustensils {
        cursor: pointer;
    }
}

// recipes section
.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 25px;
    .image {
        width: 100%;
        height: 178px;
        background: #C7BEBE;
        border-radius: 5px 5px 0px 0px;
    }
}

// recipes abstract
.abstract {
    background: #E7E7E7;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    margin-top: -1px;
    z-index: 1;

    //name and time
    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }
    h1 {
        margin: 0;
        font-size: 18px;
        line-height: 22px;
    }

    // ingredients and description element
    .intro {
        display: flex;
        height: 109px;
    }
    .ingredients {
        flex: 1;
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
    }
    .description {
        flex: 1;
        margin: 0;
        font-size: 12px;
        line-height: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

// ingredients list
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;  
}

// search result recipes
.result {
    display: none;
    position: absolute;
    top: 400px;
    background-color: white;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

// tags display
.tags {
    display: none;
    margin-top: 25px;
    .tag {
        background-color: $primary-color;
        border-radius: 5px;
        height: 37px;
        color: #FFFFFF;
        padding: 10px 20px;
        margin-right: 20px;
    }
    span {
        margin-left: 13px;
        cursor: pointer;
    }
}